input {
  display: inline-block;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 16px;
  border-width: 1px;
}

.email {
  display: block;
  width: 415px;

}

.sign-up {
  background-color: rgb(58, 80, 241);
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 150px;
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
}