p {
  font-family: Arial;
}

input {
  background-color: rgb(236, 236, 236);
  border: none;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 450px;
  margin-top: 10px;
  font-size: 20px;
}

.request {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  font-size: 20px;
  width: 200px;
}

.request-button {
  background-color: black;
  color: white;
}

.schedule-button {
  background-color: rgb(236, 236, 236);
  color: black;
}