/* .lesson7 {
width: 200px;
border-radius: 20px;
}

//.lesson7 {
width: 200px;
height: 200px;
object-fit: cover;
object-position: center;
}
*/

.lesson7 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  object-position: center;
}