 .tahoma-font {
   font-family: Tahoma;
   font-size: 18px;
   font-weight: bold;
 }

 .biggest-deals {
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   width: 250px;
   line-height: 25px;
 }

 .sales-end-tuesday {
   font-size: 16px;
   color: red;
   font-style: italic;
 }

 .html-css-course {
   font-family: Verdana;
   font-size: 18px;
   font-weight: bold;
   line-height: 25px;
   width: 220px;
 }

 .beginner-to-pro {
   font-family: Arial;
   font-size: 15px;
   color: rgb(150, 149, 149);
 }

 .in-this-course {
   font-family: Lucida Sans;
   font-size: 15px;
   width: 260px;
 }

 .get-started-button {
   background-color: green;
   color: white;
   border-radius: 4px;
   margin-top: 30px;
   padding: 10px;
   border: none;
   cursor: pointer;
 }

 .shopping {
   font-family: Arial;
   font-size: 30px;
   font-weight: bold;
   text-align: center;
   width: 500px;
   line-height: 40px;
 }

 .learn-more {
   font-size: 20px;
   color: blue;
 }