 .subscribe-button {
   background-color: rgb(204, 0, 0);
   color: white;
   border: none;
   border-radius: 2px;
   cursor: pointer;
   margin-right: 8px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 16px;
   padding-right: 16px;
   transition: opacity 0.15s;
   vertical-align: top;
 }

 .subscribe-button:hover {
   opacity: 0.8;
 }

 .subscribe-button:active {
   opacity: 0.5;
 }

 .join-button {
   background-color: white;
   border-color: rgb(41, 118, 211);
   border-style: solid;
   border-width: 1px;
   color: rgb(41, 118, 211);
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left: 16px;
   padding-right: 16px;
   border-radius: 2px;
   cursor: pointer;
   font-size: 15px;
   margin-right: 8px;
   transition: background-color 0.15s,
     color 0.15s;
 }

 .join-button:hover {
   background-color: rgb(41, 118, 211);
   color: white;
 }

 .join-button:active {
   opacity: 0.7;
 }

 .tweet-button {
   background-color: rgb(29, 155, 240);
   color: white;
   border: none;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 16px;
   padding-right: 16px;
   border-radius: 18px;
   font-weight: bold;
   font-size: 15px;
   cursor: pointer;
   transition: box-shadow 0.15s;
   vertical-align: top;
 }

 .tweet-button:hover {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
 }

 .request-button {
   background-color: black;
   border: none;
   color: white;
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 16px;
   padding-right: 16px;
   cursor: pointer;
   transition: opacity 0.2s;
   margin-top: 32px;
 }

 .request-button:hover {
   opacity: 0.7;
 }

 .add-to-cart-button {
   background-color: rgb(255, 216, 20);
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left: 16px;
   padding-right: 16px;
   border: none;
   border-radius: 22px;
   cursor: pointer;
   margin-left: 8px;
   font-size: 17px;
   transition: background-color 0.2s;
 }

 .add-to-cart-button:hover {
   background-color: rgb(255, 204, 20);
 }

 .sign-up-button {
   background-color: rgb(46, 164, 79);
   border: none;
   border-radius: 8px;
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 16px;
   padding-right: 16px;
   cursor: pointer;
   margin-left: 8px;
   color: white;
   font-size: 16px;
   font-weight: bold;
   transition: box-shadow 0.2s;
   vertical-align: top;
   margin-top: 32px;
 }

 .sign-up-button:hover {
   box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.232);
 }

 .get-started-button {
   background-color: rgb(121, 82, 179);
   border: none;
   border-radius: 4px;
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 16px;
   padding-right: 16px;
   color: white;
   cursor: pointer;
   margin-left: 8px;
   font-weight: bold;
   transition: background-color 0.2s;
   vertical-align: top;
   margin-top: 32px;
 }

 .get-started-button:hover {
   background-color: rgba(96, 54, 125, 0.899);
 }

 .download-button {
   background-color: white;
   border-color: rgb(108, 117, 125);
   border-style: solid;
   border-radius: 4px;
   color: rgb(108, 117, 125);
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 16px;
   padding-right: 16px;
   margin-left: 8px;
   cursor: pointer;
   font-weight: bold;
   border-width: 1.5px;
   transition: background-color 0.2s, color 0.2s;
   vertical-align: top;
   margin-top: 32px;
 }

 .download-button:hover {
   background-color: gray;
   color: white;
 }

 .apply-on-company-button {
   background-color: rgb(10, 102, 194);
   color: white;
   font-weight: bold;
   border: none;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 16px;
   padding-right: 16px;
   border-radius: 30px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.2s;
   margin-top: 32px;
 }

 .apply-on-company-button:hover {
   background-color: rgb(9, 79, 149);
 }

 .save-button {
   background-color: white;
   border-color: rgb(10, 102, 194);
   border-style: solid;
   color: rgb(10, 102, 194);
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 16px;
   padding-right: 16px;
   cursor: pointer;
   font-weight: bold;
   margin-left: 8px;
   font-size: 16px;
   border-radius: 30px;
   border-width: 2px;
   transition: background-color 0.15s, border-width 0.15s;

 }

 .save-button:hover {
   background-color: rgb(213, 225, 242);
   border-width: 3px;
 }