p {
  text-align: center;
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.model3 {
  font-weight: bold;
  font-size: 50px;
}

.order-online {
  margin-top: 20px;
}

.underline {
  text-decoration: underline;
}