div {
  display: inline-block;
  width: 200px;
  box-shadow: 0px 0px 5px gray;
  margin-right: 10px;
}

img {
  object-position: center;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: none;
}

p {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mutuals {
  color: gray;
  margin-bottom: 5px;
}

button {
  background-color: rgb(28, 95, 251);
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}