.profile-pic {
  object-position: center;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 12px;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.mutuals {
  color: gray;
  vertical-align: middle;
}

button {
  background-color: rgb(28, 95, 251);
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}

.profile {

  width: 100%;
  box-shadow: 0px 0px 5px gray;
  margin-right: 10px;
  vertical-align: top;
}

.mutual-friends-row {
  margin-bottom: 10px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

.mutual-friend-pic {
  border-radius: 14px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  margin-right: 4px;
}